<div class="box row">
    <div class="col-lg-12">
        <hr>
        <h2 class="intro-text text-center">Contact us
            <strong>on La Loupe</strong>
        </h2>
        <hr>
    </div>
    <div class="col-md-8">
        <!-- Embedded Google Map using an iframe - to select your location find it on Google maps and paste the link as the iframe src. If you want to use the Google Maps API instead then have at it! -->
        <iframe width="100%" height="400" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps?hl=en&amp;ie=UTF8&amp;ll=37.0625,-95.677068&amp;spn=56.506174,79.013672&amp;t=m&amp;z=4&amp;output=embed"></iframe>
    </div>
    <div class="col-md-4">
        <p>Phone:
            <strong>01.02.03.04.05</strong>
        </p>
        <p>Email:
            <strong>
                <a href="mailto:name@example.com">name@example.com</a>
            </strong>
        </p>
        <p>Address:
            <strong>18 Rue de la gare
                <br>La Loupe, 28240</strong>
        </p>
    </div>
    <div class="clearfix"></div>
</div>

<div class="box row">
    <div class="col-lg-12">
        <hr>
        <h2 class="intro-text text-center">
            <strong>Newsletter</strong>
        </h2>
        <hr>
        <p>Please susbcribe to our newsletter to be inform.</p>
        <form role="form">
            <div class="row">
                <div class="form-group col-lg-4">
                    <label>Name</label>
                    <input type="text" ng-model='newsletter.nom' class="form-control">
                </div>
                <div class="form-group col-lg-4">
                    <label>Email Address</label>
                    <input type="email" ng-model='newsletter.email' class="form-control">
                </div>

                <div class="clearfix"></div>

                <div class="form-group col-lg-12">
                    <button type="submit" ng-click='vm.create(newsletter)' class="btn btn-default">Submit</button>
                </div>
            </div>
        </form>

    </div>
</div>


<!-- /.container -->
