<form class="form-horizontal">
    <fieldset>

        <!-- Form Name -->
        <legend>Form Name</legend>

        <!-- Text input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="textinput">Your username</label>
            <div class="col-md-4">
                <input id="username" name="username" placeholder="username" class="form-control input-md" type="text">
            </div>
        </div>

        <!-- Text input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="textinput">Your lastname</label>
            <div class="col-md-4">
                <input id="lastName" name="lastName" placeholder="Your lastname" class="form-control input-md" type="text">
            </div>
        </div>

        <!-- Text input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="textinput">Your firstname</label>
            <div class="col-md-4">
                <input id="firstName" name="firstName" placeholder="Your firstname" class="form-control input-md" type="text">
            </div>
        </div>

        <!-- Text input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="textinput">Your username</label>
            <div class="col-md-4">
                <input id="userName" name="userName" placeholder="Your username" class="form-control input-md" type="email">
            </div>
        </div>

        <!-- Text input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="textinput">Your password</label>
            <div class="col-md-4">
                <input id="password" name="password" placeholder="Your password" class="form-control input-md" type="password">
            </div>
        </div>

    </fieldset>
</form>
