<form class="form-horizontal">
    <fieldset>

        <!-- Form Name -->
        <legend>Create an account</legend>

        <!-- Text input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="textinput">Your username</label>
            <div class="col-md-4">
                <input id="username" ng-model='membre.pseudoMembre' name="username" placeholder="username" class="form-control input-md" type="text">
            </div>
        </div>

        <!-- Text input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="textinput">Your lastname</label>
            <div class="col-md-4">
                <input id="lastName" ng-model='membre.nomMembre' name="lastName" placeholder="Your lastname" class="form-control input-md" type="text">
            </div>
        </div>

        <!-- Text input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="textinput">Your firstname</label>
            <div class="col-md-4">
                <input id="firstName" ng-model='membre.prenomMembre' name="firstName" placeholder="Your firstname" class="form-control input-md" type="text">
            </div>
        </div>

        <!-- Text input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="textinput">Your email</label>
            <div class="col-md-4">
                <input id="email" ng-model='membre.adresseMailMembre' name="email" placeholder="Your email" class="form-control input-md" type="email">
            </div>
        </div>

        <!-- Text input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="textinput">Your password</label>
            <div class="col-md-4">
                <input id="password" ng-model='membre.motDePasseMembre' name="password" placeholder="Your password" class="form-control input-md" type="password">
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <button id="singlebutton" ng-click='vm.create(membre)' name="singlebutton" class="btn btn-primary">Submit</button>
            </div>
        </div>
    </fieldset>
</form>
