<div class="box row">

    <div class="col-lg-12">
        <hr>
        <h2 class="intro-text text-center">Member
        <strong>Area</strong>
      </h2>
        <hr>
    </div>

    <form class="form-horizontal">
        <!-- Text input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="textinput">Your User Name</label>
            <div class="col-md-4">
                <input id="editUserName" ng-model='vm.membre.pseudoMembre' name="userName" placeholder="Your username" class="form-control input-md" type="text">
            </div>
        </div>

        <!-- Text input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="textinput">Your Last Name</label>
            <div class="col-md-4">
                <input id="editLastName" ng-model='vm.membre.nomMembre' name="lastName" placeholder="Your lastname" class="form-control input-md" type="text">
            </div>
        </div>

        <!-- Text input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="textinput">Your First Name</label>
            <div class="col-md-4">
                <input id="editFirstName" ng-model='vm.membre.prenomMembre' name="firstName" placeholder="Your firstname" class="form-control input-md" type="text">
            </div>
        </div>
        <!-- Text input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="textinput">Your City</label>
            <div class="col-md-4">
                <input id="editVille" ng-model='vm.membre.villeMembre' name="city" placeholder="Your city" class="form-control input-md" type="text">
            </div>
        </div>
        <!-- Text input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="textinput">Your Email Address</label>
            <div class="col-md-4">
                <input id="editMailAdress" ng-model='vm.membre.adresseMailMembre' name="mail" placeholder="Your mail adress" class="form-control input-md" type="text">
            </div>
        </div>
        <!-- Text input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="textinput">Your Password</label>
            <div class="col-md-4">
                <input id="editPassword" ng-model='vm.membre.motDePasseMembre' name="Password" placeholder="Change your password" class="form-control input-md" type="text">
            </div>
        </div>
        <!-- Button -->
        <div class="form-group">
            <label class="col-md-4 control-label" for="singlebutton">Upload your Mustache</label>
            <div class="col-md-4">
                <p><input class="btn btn-primary" type="file" id="take-picture" accept="image/*"></p>
                <p><img src="about:blank" alt="" id="show-picture"></p>
            </div>
        </div>
        <!-- Map cachée -->

         <div ng-show="false" id="map"> <iframe id="google_map" width="500" height="500" frameborder="0" scrolling="no" marginheight="0" marginheight="0" src="https://maps.google.co.uk?output=embed"></iframe> </div>

        <!-- Button -->
        <div class="form-group">
            <label class="col-md-4 control-label" for="singlebutton"></label>
            <div class="col-md-4">
                <button id="submitEdit" ng-click='vm.update(membre)' name="singlebutton" class="btn btn-primary">Save changes</button>
            </div>
        </div>

    </form>

</div>
