<div class="row">
    <div class="box col-xs-12">
        <hr>
        <h2 class="intro-text text-center">Browse our
            <strong>Mustache Map</strong>
        </h2>
        <hr>
        <div>
            <iframe class="col-xs-8" id="google_map" width="350" height="650" frameborder="0" scrolling="no" src="https://maps.google.com?output=embed"></iframe>
            </iframe>
        </div>
        <hr class="visible-xs">
        <div>
            <p>
                <blockquote class="text-center"><br>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</blockquote>
            </p>
        </div>
        <div id="share" class="jssocials">
        </div>
    </div>
</div>
