<div id="fb-root"></div>
<div class="row">
    <div class="box col-xs-12">
        <hr>
        <h2 class="intro-text text-center">Mustache
            <strong>of the Day</strong>
        </h2>
        <hr>
        <img class="img-responsive img-border img-left" src="assets/img/mustache.jpg" alt="">
        <hr class="visible-xs">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute
            irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        <div id="share" class="jssocials">
        </div>
        <div class="fb-comments" data-href="https://www.facebook.com/Movember-Moustache-WEB-402294513493310/" data-width="430" data-numposts="5"></div>
    </div>

</div>

<script>
    $("#share").jsSocials({
        shares: ["twitter", "facebook"]
    });
</script>
